<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Notifications</title>
</head>
<body>
	<li th:fragment="notifications" class="nav-item dropdown mr-3"><a
		id="notifications" href="http://example.com" data-toggle="dropdown"
		aria-haspopup="true" aria-expanded="false"
		class="nav-link dropdown-toggle text-gray-400 px-1"><i
			class="fa fa-bell"></i><span class="notification-icon"></span></a>
		<div aria-labelledby="notifications" class="dropdown-menu">
			<a href="#" class="dropdown-item">
				<div class="d-flex align-items-center">
					<div class="icon icon-sm bg-violet text-white">
						<i class="fab fa-twitter"></i>
					</div>
					<div class="text ml-2">
						<p class="mb-0">You have 2 followers</p>
					</div>
				</div>
			</a><a href="#" class="dropdown-item">
				<div class="d-flex align-items-center">
					<div class="icon icon-sm bg-blue text-white">
						<i class="fas fa-upload"></i>
					</div>
					<div class="text ml-2">
						<p class="mb-0">Server rebooted</p>
					</div>
				</div>
			</a><a href="#" class="dropdown-item">
				<div class="dropdown-divider"></div> <a href="#"
				class="dropdown-item text-center"><small
					class="font-weight-bold headings-font-family text-uppercase">View
						all notifications</small></a>
		</div></li>
</body>
</html>