<!DOCTYPE html>
<html layout:decorate="~{main}">
<head>
<meta charset="UTF-8">
<title>Template</title>
</head>
<body>
	<div layout:fragment="body">
		<!-- navbar-->
		<div th:replace="fragments/header :: header">
			<div>Header</div>
		</div>
		<div class="d-flex align-items-stretch">
			<!-- sidebar-->
			<div th:replace="fragments/sidebar :: sidebar">
				<div>Sidebar</div>
			</div>
			<div class="page-holder w-100 d-flex flex-wrap">
				<div class="container-fluid px-xl-5">
					<!-- Do Layout - Page Content -->
					<section layout:fragment="content" class="py-5">
						<div>Do Content</div>
					</section>
				</div>
				<!-- footer-->
				<footer th:replace="fragments/footer :: footer">
					<div>Footer</div>
				</footer>
			</div>
		</div>
	</div>
</body>
</html>

